Source: ros-jazzy-dynamixel-sdk-examples
Section: misc
Priority: optional
Maintainer: willson <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-copyright <!nocheck>, ament-cmake-cppcheck <!nocheck>, ament-cmake-cpplint <!nocheck>, ament-cmake-flake8 <!nocheck>, ament-cmake-lint-cmake <!nocheck>, ament-cmake-pep257 <!nocheck>, ament-cmake-uncrustify <!nocheck>, ament-cmake-xmllint <!nocheck>, ament-lint <!nocheck>, ros-jazzy-dynamixel-sdk, ros-jazzy-dynamixel-sdk-custom-interfaces, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Homepage: http://wiki.ros.org/dynamixel_sdk
Standards-Version: 3.9.2

Package: ros-jazzy-dynamixel-sdk-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-dynamixel-sdk, ros-jazzy-dynamixel-sdk-custom-interfaces, ros-jazzy-rclcpp, ros-jazzy-ros-workspace
Description: ROS2 examples using ROBOTIS DYNAMIXEL SDK
